### class 코드로 작성한 다층 딥러닝 기본코드에 책에서 제공하지 않은 데이터를 가져와서
### dataset 클래스로 생성하고 딥러닝 클래스 코드에 맞춰 돌려보기
### 우선 가장 기본인 테이블 형태의 데이터에서 분류문제의 예제로 많이 사용하는 타이타닉과 집값예측을 가져와서 돌려보고
### 테이블 데이터가 아닌 이미지 데이터를 가져와서 돌려볼것임

In [3]:
%run ../deeplearning_class_code_folder/mlp_model_class.ipynb
%run ../deeplearning_class_code_folder/dataset_class.ipynb

In [6]:
import pandas as pd

In [16]:
load_csv('../test_code_running_folder/titanic_dataset.csv')[1]

['Passengerid',
 'Age',
 'Fare',
 'Sex',
 'sibsp',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'Parch',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'zero',
 'Pclass',
 'zero',
 'zero',
 'Embarked',
 'zero',
 'zero',
 '2urvived']

In [21]:
load_csv('../test_code_running_folder/titanic_dataset.csv')[0][212]

['213',
 '22',
 '7.25',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '0',
 '0',
 '2',
 '0',
 '0',
 '0']

In [24]:
raw_data = pd.DataFrame(load_csv('../test_code_running_folder/titanic_dataset.csv')[0],columns=load_csv('../test_code_running_folder/titanic_dataset.csv')[1])
raw_data

,Passengerid,Age,Fare,Sex,sibsp,zero,zero,zero,zero,zero,...,zero,zero,zero,Pclass,zero,zero,Embarked,zero,zero,2urvived
0,1,22,7.25,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,0
1,2,38,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,3,26,7.925,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,1
3,4,35,53.1,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2,0,0,1
4,5,35,8.05,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28,8.05,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,0
1305,1306,39,108.9,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1306,1307,38.5,7.25,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,0
1307,1308,28,8.05,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2,0,0,0
1308,1309,28,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0,0,0,0

In [58]:
load_csv('../test_code_running_folder/train.csv')[0][0]

['1',
 '0',
 '3',
 'Braund, Mr. Owen Harris',
 'male',
 '22',
 '1',
 '0',
 'A/5 21171',
 '7.25',
 '',
 'S']

In [59]:
load_csv('../test_code_running_folder/test.csv')[1]

['PassengerId',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']