### class 코드로 작성한 다층 딥러닝 기본코드에 책에서 제공하지 않은 데이터를 가져와서
### dataset 클래스로 생성하고 딥러닝 클래스 코드에 맞춰 돌려보기
### 우선 가장 기본인 테이블 형태의 데이터에서 분류문제의 예제로 많이 사용하는 타이타닉과 집값예측을 가져와서 돌려보고
### 테이블 데이터가 아닌 이미지 데이터를 가져와서 돌려볼것임

In [1]:
%run ../deeplearning_class_code_folder/mlp_model_class.ipynb
%run ../deeplearning_class_code_folder/dataset_class.ipynb

In [2]:
import pandas as pd

In [133]:
rows,_ = load_csv('../test_code_running_folder/titanic_dataset.csv')

In [134]:
for num,row in enumerate(rows):
    for i in row:
        if i == '':
            print(num)
            print(row)
            print(i)
            print("빈값")

61
['62', '38', '80', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '', '0', '0', '1']

빈값
829
['830', '62', '80', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '', '0', '0', '1']

빈값

In [136]:
rows, _ = load_csv('../test_code_running_folder/titanic_dataset.csv')
rows[829][24] = '0'
rows[61][24] = '0'

clean_data = []
row_data = []
for row in rows:
    row_data = []
    row_data.append(row[1])
    row_data.append(row[2])
    row_data.append(row[3])
    row_data.append(row[4])
    row_data.append(row[12])
    row_data.append(row[21])
    row_data.append(row[24])
    row_data.append(row[27])
    clean_data += [row_data]

In [137]:
data = np.asarray(clean_data, dtype='float32')
data

array([[22.    ,  7.25  ,  0.    , ...,  3.    ,  2.    ,  0.    ],
       [38.    , 71.2833,  1.    , ...,  1.    ,  0.    ,  1.    ],
       [26.    ,  7.925 ,  1.    , ...,  3.    ,  2.    ,  1.    ],
       ...,
       [38.5   ,  7.25  ,  0.    , ...,  3.    ,  2.    ,  0.    ],
       [28.    ,  8.05  ,  0.    , ...,  3.    ,  2.    ,  0.    ],
       [28.    , 22.3583,  0.    , ...,  3.    ,  0.    ,  0.    ]],
      dtype=float32)

In [152]:
data[1300]

array([ 3.   , 13.775,  1.   ,  1.   ,  1.   ,  3.   ,  2.   ,  0.   ],
      dtype=float32)

In [143]:
class TitanicDataset(Dataset):
    def __init__(self):
        super(TitanicDataset, self).__init__('titanic', 'binary')
    
        rows, _ = load_csv('../test_code_running_folder/titanic_dataset.csv')
        rows[829][24] = '0'
        rows[61][24] = '0'

        clean_data = []
        row_data = []
        for row in rows:
            row_data = []
            row_data.append(row[1])
            row_data.append(row[2])
            row_data.append(row[3])
            row_data.append(row[4])
            row_data.append(row[12])
            row_data.append(row[21])
            row_data.append(row[24])
            row_data.append(row[27])
            clean_data += [row_data]

        data = np.asarray(clean_data, dtype='float32')
        self.shuffle_data(data[:,:-1], data[:,-1:], 0.8)
        self.target_names = ['죽음', '생존']
        
    def visualize(self, xs, estimates, answers):
        for n in range(len(xs)):
            x, est, ans = xs[n], estimates[n], answers[n]
            xstr = vector_to_str(x, '%5.1f', 3)
            estr = self.target_names[int(round(est[0]))]
            astr = self.target_names[int(round(ans[0]))]
            rstr = 'O'
            if estr != astr: rstr = 'X'
            print('{} => 추정 {}(확률 {:4.2f}) : 정답 {} => {}'. \
                  format(xstr, estr, est[0], astr, rstr))

In [144]:
%run ../deeplearning_class_code_folder/mlp_model_class.ipynb
%run ../deeplearning_class_code_folder/mathutil.ipynb
%run ../deeplearning_class_code_folder/dataset_class.ipynb

In [153]:
td = TitanicDataset()
tm = MlpModel('titanic_model', td, [8])
tm.exec_all(epoch_count=50, report=2)

Model titanic_model train started:
    Epoch 2: cost=0.642, accuracy=0.739/0.677 (0/0 secs)
    Epoch 4: cost=0.583, accuracy=0.739/0.677 (0/0 secs)
    Epoch 6: cost=0.562, accuracy=0.744/0.677 (0/0 secs)
    Epoch 8: cost=0.555, accuracy=0.739/0.677 (0/0 secs)
    Epoch 10: cost=0.553, accuracy=0.741/0.662 (0/0 secs)
    Epoch 12: cost=0.551, accuracy=0.738/0.677 (0/0 secs)
    Epoch 14: cost=0.550, accuracy=0.741/0.677 (0/0 secs)
    Epoch 16: cost=0.548, accuracy=0.737/0.677 (1/1 secs)
    Epoch 18: cost=0.547, accuracy=0.741/0.662 (0/1 secs)
    Epoch 20: cost=0.545, accuracy=0.735/0.677 (0/1 secs)
    Epoch 22: cost=0.545, accuracy=0.737/0.677 (0/1 secs)
    Epoch 24: cost=0.545, accuracy=0.737/0.677 (0/1 secs)
    Epoch 26: cost=0.544, accuracy=0.737/0.677 (0/1 secs)
    Epoch 28: cost=0.543, accuracy=0.738/0.677 (0/1 secs)
    Epoch 30: cost=0.543, accuracy=0.738/0.662 (0/1 secs)
    Epoch 32: cost=0.542, accuracy=0.739/0.677 (0/1 secs)
    Epoch 34: cost=0.542, accuracy=0.739/0.677 (0/1 secs)
    Epoch 36: cost=0.542, accuracy=0.737/0.677 (0/1 secs)
    Epoch 38: cost=0.541, accuracy=0.740/0.677 (0/1 secs)
    Epoch 40: cost=0.541, accuracy=0.738/0.662 (0/1 secs)
    Epoch 42: cost=0.541, accuracy=0.738/0.662 (0/1 secs)
    Epoch 44: cost=0.540, accuracy=0.739/0.677 (0/1 secs)
    Epoch 46: cost=0.540, accuracy=0.738/0.677 (0/1 secs)
    Epoch 48: cost=0.540, accuracy=0.737/0.677 (0/1 secs)
    Epoch 50: cost=0.540, accuracy=0.737/0.662 (0/1 secs)
Model titanic_model train ended in 1 secs:
Model titanic_model test report: accuracy = 0.755, (0 secs)

Model titanic_model Visualization
[ 33.0, 26.0,  1.0,...] => 추정 죽음(확률 0.26) : 정답 생존 => X
[ 28.0,  7.7,  0.0,...] => 추정 죽음(확률 0.18) : 정답 죽음 => O
[  8.0, 26.0,  1.0,...] => 추정 죽음(확률 0.45) : 정답 죽음 => O

In [154]:
tm.visualize(30)

Model titanic_model Visualization
[ 28.0, 69.6,  0.0,...] => 추정 죽음(확률 0.42) : 정답 죽음 => O
[ 27.0, 13.9,  1.0,...] => 추정 죽음(확률 0.24) : 정답 생존 => X
[ 22.0,  7.2,  0.0,...] => 추정 죽음(확률 0.22) : 정답 죽음 => O
[ 25.0, 31.5,  0.0,...] => 추정 죽음(확률 0.42) : 정답 죽음 => O
[ 30.0, 13.9,  1.0,...] => 추정 죽음(확률 0.21) : 정답 죽음 => O
[ 24.0,  7.1,  0.0,...] => 추정 죽음(확률 0.20) : 정답 죽음 => O
[  8.0, 21.1,  1.0,...] => 추정 죽음(확률 0.44) : 정답 죽음 => O
[ 28.0,  7.2,  0.0,...] => 추정 죽음(확률 0.18) : 정답 죽음 => O
[ 40.0, 39.0,  1.0,...] => 추정 죽음(확률 0.29) : 정답 생존 => X
[ 45.0, 59.4,  1.0,...] => 추정 죽음(확률 0.41) : 정답 죽음 => O
[ 16.0,  8.1,  0.0,...] => 추정 죽음(확률 0.30) : 정답 죽음 => O
[ 20.0,  7.1,  0.0,...] => 추정 죽음(확률 0.24) : 정답 죽음 => O
[ 28.0,  7.2,  1.0,...] => 추정 죽음(확률 0.18) : 정답 생존 => X
[ 28.0,  7.8,  1.0,...] => 추정 죽음(확률 0.18) : 정답 죽음 => O
[ 28.0, 15.5,  1.0,...] => 추정 죽음(확률 0.23) : 정답 죽음 => O
[ 24.0, 37.0,  1.0,...] => 추정 죽음(확률 0.43) : 정답 죽음 => O
[ 19.0, 10.2,  0.0,...] => 추정 죽음(확률 0.28) : 정답 죽음 => O
[ 35.0, 26.3,  0.0,...] => 추정 죽음(확률 0.25) : 정답 생존 => X
[ 23.0, 11.5,  0.0,...] => 추정 죽음(확률 0.25) : 정답 죽음 => O
[ 28.0,  6.4,  0.0,...] => 추정 죽음(확률 0.17) : 정답 죽음 => O
[ 28.0, 26.5,  0.0,...] => 추정 죽음(확률 0.34) : 정답 죽음 => O
[ 58.0, 29.7,  0.0,...] => 추정 죽음(확률 0.10) : 정답 죽음 => O
[ 25.0,  7.8,  0.0,...] => 추정 죽음(확률 0.20) : 정답 생존 => X
[ 29.0,211.3,  1.0,...] => 추정 죽음(확률 0.50) : 정답 생존 => X
[ 28.0, 51.9,  1.0,...] => 추정 죽음(확률 0.43) : 정답 생존 => X
[ 31.0, 57.0,  0.0,...] => 추정 죽음(확률 0.42) : 정답 생존 => X
[ 27.0,247.5,  1.0,...] => 추정 생존(확률 0.52) : 정답 죽음 => X
[ 31.0, 52.0,  0.0,...] => 추정 죽음(확률 0.42) : 정답 죽음 => O
[  0.2, 20.6,  1.0,...] => 추정 죽음(확률 0.46) : 정답 죽음 => O
[ 28.0,  7.7,  0.0,...] => 추정 죽음(확률 0.18) : 정답 죽음 => O